# Ntfy notification URL for Watchtower updates
# Format: ntfy://user:password@ntfy.mystackmint.com/update-alerts
# Docs: https://containrrr.dev/shoutrrr/v0.8/services/ntfy/
NTFY_NOTIFICATION_URL=ntfy://user:password@ntfy.mystackmint.com/update-alerts
